%Rubik-400 {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
}

$main: #1b1b23;
$main-light: #27272f;
$accent-red: #ce6d0d;
$text-dark: #757482;
$text-white: #dbdbdb;
$outline: 1px solid #2d2d37;
$border-color: #2d2d37;

$shadow: 0 0 15px rgba(20, 25, 34, 0.9);
