%Rubik-400 {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
}

$main: #181D27;
$main-light: #1C222E;
$accent-red: #FF331F;
$accent-byz: #CB04A5;
$text: #9c9fa3;

$shadow: 0 0 15px rgba(20, 25, 34, .9);
