%Rubik-400 {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
}

$main: #0d111a;
$main-light: #141621;
$main-gray: #1d1f2d;
$accent-red: #c60e34;
$accent-lightred: #ff4a01;
$accent-gold: #afe212;
$text: #9c9fa3;
$text-white: #d2d5d9;
$outline: 1px solid #202020;

$shadow: 0 0 15px rgba(20, 25, 34, 0.9);
